.saved-link {
  display: flex;
  gap: 10px;
  height: 150px;
  text-decoration: none;
  padding: 0 10px;
  margin: 10px;
}
.saved-thumbnail {
  width: 260px;
  height: 145px;
}
.title {
  margin: 3px 0;
  font-size: 23px;
  color: black;
}

.dark-text {
  color: white;
}
.channel-name {
  font-size: 15px;
  color: #616e7c;
  margin-top: 8px;
}
.view-details-container {
  font-size: 15px;
  color: #616e7c;
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

@media screen and (max-width:768px){
  .saved-link{
    flex-direction: column;
    height: 300px;
  }
  .channel-name{
    margin: 0;
  }
  .view-details-container{
    margin: 0;
  }
  .saved-thumbnail{
    width: 100%;
    height: 150px;
  }
  .saved-video-details{
    height: 150px;
  }
}