.no-saved-image {
  width: 300px;
  height: 300px;
}
.saved-content {
  min-height: 91vh;
  width: 100%;
  overflow-y: auto;
}
.saved-icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.no-saved-container {
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-saved-container p {
  margin: 0;
}
.saved-nav {
  background-color: #f6f6f6;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}
.dark-theme {
  background-color: #212121;
}

.saved-heading {
  font-size: 27px;
}
.dark-nav-bg {
  background-color: #212121;
}
.saved-videos-list {
  padding: 0;
  list-style: none;
}
