.trending-bg {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 100vh; /* REQUIRED */
}

.dark-bg {
  background-color: #0f0f0f;
}

.body-container {
  display: flex;
}

.trending-header {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f5f1f1;
}

.dark-theme-header {
  background-color: #181818;
}

.trending-content {
  max-height: 91vh;
  width: 100%;
  overflow-y: auto;
}

.trending-video-list {
  list-style: none;
  padding: 0;
}
.failure-image {
  width: 250px;
  height: 250px;
}
.failure-container {
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.failure-container p {
  margin: 0;
}
.retry-btn {
  width: 80px;
  height: 30px;
  border: none;
  margin-top: 10px;
  background-color: blue;
  cursor: pointer;
  border-radius: 7px;
  color: white;
}
